.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #183B4E;
    padding: 20px 20px;
    margin-bottom: 80px;
    border-radius: 10px;
    color: #F3F3EE;
}

.footer {
    text-align: center;
    background-color: #183B4E;
    padding: 20px;
    margin-top: 80px;
    border-radius: 10px;
    color: #F3F3EE;
    font-weight: 600;
}